name: Upload to PyPi
on:  
  release:     
    types: [created]  
jobs:  
  upload:  
    runs-on: ubuntu-latest   
    steps:        
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:          
          python-version: 3.9      
      - name: "Installs dependencies"            
        run: |
          python3 -m pip install --upgrade pip              
          python3 -m pip install setuptools wheel twine                  
      - name: "Builds and uploads to PyPI"            
        env:              
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |              
          python3 setup.py sdist bdist_wheel              
          python3 -m twine upload dist/*            
        
